/*
용도 : 주로 비로그인 상태의 페이지를 위한 스타일
작성자 : 반우진
작성일 : 2025-10-01
*/

/* findIDdo.html */
#doneFindID
{
    border: #4471c4;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
}

#imgCheck
{
    width: 40%;
}
#textInfo
{
    width: 60%;
}

.vipText
{
    color: red;
    font-weight: bold;
}
.fontSize-L
{
    font-size: 1.15em;
}

.mypage
{
    border-color: rgb(222, 222, 222);
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(222, 222, 222);
}
.mypage-col
{
    text-align: center;
    background-color: #223964;
    color: white;
    border-radius: 5px;
    padding: 10px 0px;
}